<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/template/login/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/template/login/js/prefixfree.min.js"></script>

    <script>
        var DemoAppWebAPIURL = '@System.Configuration.ConfigurationManager.AppSettings["DemoAppWebAPIURL"]';
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
