
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/_shared/LogInMasterLayoutPage.cshtml";
}

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div><span><strong>Reset <br />Password</strong></span></div>
</div>

<div class="login">
    <input type="text" placeholder="username" name="user" id="txtUserName"><br>
    <input type="password" placeholder="old password" name="password" id="txtOldPassword"><br>
    <input type="password" placeholder="new password" name="password" id="txtPassword"><br>
    <input type="password" placeholder="confirm password" name="confirmPassword" id="txtConfirmPassword"><br>
    <input type="button" value="Reset" id="btnReset">
</div>

<script>
    $(document).ready(function () {

        $("#btnReset").click(function () {
            var userName = $("#txtUserName").val();
            var oldPassword = $("#txtOldPassword").val();

            var password = $("#txtPassword").val();
            var cPassword = $("#txtConfirmPassword").val();

            if (userName != "") {

                if (password === cPassword) {
                    var postData =
                    {
                        "UserName": userName,
                        "OldPassword": oldPassword,
                        "NewPassword": password
                    };
                    console.log(postData);
                    console.log(JSON.stringify(postData));
                    $.ajax({
                        type: "POST",
                        url: DemoAppWebAPIURL + 'api/User/ResetPassword',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(postData),
                        dataType: "json",
                        success: function (msg) {

                            if (msg == null) {
                                alert("Unknown Error!!!");
                            }
                            else {
                                alert(msg);
                            }



                        },
                        error: function (req, status, error) {
                            alert("Error try again");
                        }
                    });
                }
                else {
                    alert("Password and Confirm Password are not same.");
                }
            }
            else {
                alert("Please enter user name");
            }
        });

    });
</script>
